.header {
    padding: 45px 80px 225px 80px;
    min-height: 800px;
    background: url(../../img/header-bg.png) center center/cover no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}
.header__burger {
    display: none;
    width: 30px;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1;
}
.header__burger span {
    display: block;
    height: 3px;
    background-color: #E8C300;
    margin-bottom: 8px;
    box-shadow: 5px 5px 20px black;
    transition: 0.5s all;
}
.header__burger_active span {
    margin-bottom: -8px;
}
.header__burger_active span:first-child{
    transform: rotate(-45deg) translateY(-5px);
}
.header__burger_active span:nth-child(2) {
    display: none;
}
.header__burger_active span:last-child {
    transform: rotate(45deg) translateY(4px);
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 445px;
    padding: 0;
}

.nav-list_mobile {
    display: none;
    position: fixed;
    width: 40vw;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: 0.5s all;
}
.nav-list_mobile_active {
    right: 0;
}
.nav-item_mobile {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
}
.nav-item_mobile:first-child {
    margin-top: 20vh;
}
.nav-left .nav-list {
    padding-left: 20px;
}
.nav-item {
    transition: 0.5s all;
    width: 100%;
    text-align: center;
    line-height: 10px;
}
.nav-item:hover {
    font-size: 20px;
    line-height: 10px;
}
.nav-list__link {
    text-decoration: none;
    color: #fff;
}

.header__logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    top: -18px;
}

.header__forehead {
    text-transform: uppercase;
    text-align: center;
    margin-top: 270px;
    white-space: pre;
}

.header__heading {
    font-family: Acme;
    font-size: 96px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 35px;
    font-weight: 400;
}

.buttons-wrapper {
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}