.header {
    padding: 45px 80px 225px 80px;
    min-height: 800px;
    background: url(../../img/header-bg.png) center center/cover no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 445px;
    padding: 0;
}

.nav-left .nav-list {
    padding-left: 20px;
}
.nav-item {
    transition: 0.5s all;
    width: 100%;
    text-align: center;
}
.nav-item:hover {
    font-size: 20px;
}
.nav-list__link {
    text-decoration: none;
    color: #fff;
}

.nav-mobile {
    display: none;
}
.header__logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    top: -18px;
}

.header__forehead {
    text-transform: uppercase;
    text-align: center;
    margin-top: 270px;
    white-space: pre;
}

.header__heading {
    font-family: Acme;
    font-size: 96px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 35px;
    font-weight: 400;
}

.buttons-wrapper {
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}