@import "base/fonts.css";
@import "blocks/buttons.css";
@import "blocks/lines.css";
@import "blocks/text.css";
@import "blocks/forms.css";
@import "blocks/header.css";
@import "blocks/about-us.css";
@import "blocks/book-table.css";
@import "blocks/specialties.css";
@import "blocks/contact.css";
@import "blocks/footer.css";



* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0
}

html, body {
    scrollbar-color: #4d4d4d #E8C300;
    scrollbar-width: thin;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px; 
    background-color: #191919;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color:#E8C300;
}

.container {
    width: 1155px;
    margin: 0 auto;
}
